.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS

.github
coverage
yarn-error.log
*.test.js
__snapshots__
__test__
renovate.json
dangerfile.js
.travis.yml
.snyk
.nvmrc
.eslintrc.json
.eslintignore
.editorconfig
scripts
src/www
